body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: silver;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: silver;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: red;
}

h4 {
    text-align: left;
    text-decoration: underline;
    color: orange;
    text-transform: uppercase;
}

h5 {
    color: orangered;
    font-weight: bold;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
}

article {
    color: white;
}

span {
    color:aqua;
    font-weight: bold;
}

p {
    color: white;
}

footer {
    color: silver;
    font-weight: bold;
}